{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buscar Productos</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
<body>
<div class="">
    <h1>List products all</h1>
    {% for product in products %}
    <li> {{ product.name }}</li>
    {% endfor %}
</div>

<div class="bg-green-500 mt-11 border-2 border-black w-80 mx-auto rounded-lg">
    <h1 class="text-center">List Products search</h1>
    <input
            class="mt-11 w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="text"
            id="searchInput"
            placeholder="Buscar productos..."
            oninput="searchProducts()"
    />

    <ul id="productList">
        <!-- Los productos se mostrarán aquí dinámicamente -->
    </ul>
</div>

<script src="{% static 'js/search_product.js' %}"></script>
</body>
</html>
                                                                